html {
    box-sizing: border-box;
}

.kind-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    position: absolute;
    width: 100% !important;
}

.nav-brand {
    display: none;
}

.post-footer-section {
    margin-top: 2em;
    padding: 2em;
    border-top: 2px dotted var(--accent-color);
}

.post-license-section {
    margin-top: 3.5em;
    font-size: 0.9em;
    text-align: center;
}

.post-reading-time {
    color: gray;
}

p.tip {
    border-left: 2px solid var(--accent-color);
    background-color: rgba(39, 40, 34, 0.05);
    padding: 1em 1em 1em 1.5em;
}